.title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
}

.sub-title{
  font-size: 30px;
}

.card {
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
}

.articles {
  display: flex;
  flex-direction: column;
}